
.collapsibleBanner {
  background-color: #f5f5f5; /* Light grey background */
  border: 1px solid #ccc; /* Light border for definition */
  border-radius: 4px; /* Rounded corners */
  padding: 10px; /* Padding around content */
  margin-bottom: 20px; /* Spacing below the banner */
  transition: all 0.3s ease; /* Smooth transition for collapsing and expanding */
}

.collapsibleBannerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapsibleBannerContent {
  margin-top: 10px; /* Spacing above the content */
}

.collapsibleBannerHeader .MuiIconButton-root {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.collapsibleBanner.open .MuiIconButton-root {
  transform: rotate(180deg);
}
