/* Placeholder.css */
.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  min-height: 250px;
}

.placeholderIcon {
  font-size: 2em;
  margin-bottom: 10px;
}

.placeholderText {
  color: #666;
}
