
.trafficCamContainer {
  margin-bottom: 20px;
}

.imageScrollContainer {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: blue #fff; /* For Firefox */
}

/* Custom scrollbar for Webkit browsers */
.imageScrollContainer::-webkit-scrollbar {
  height: 8px;
}

.imageScrollContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.imageScrollContainer::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid #fff;
}

.imageCard {
  width: 300px; /* Fixed width */
  margin-right: 10px;
}

.imageCard img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures images are not stretched */
}
