

/* CollapsibleBanner Styles */
.collapsibleBanner {
  background-color: #fff; /* Light grey background */
  border: 1px solid #ccc; /* Light border for definition */
  border-radius: 4px; /* Rounded corners */
  padding: 10px; /* Padding around content */
  margin-bottom: 20px; /* Spacing below the banner */
  transition: all 0.3s ease; /* Smooth transition for collapsing and expanding */
}

.collapsibleBannerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapsibleBannerContent {
  margin-top: 10px; /* Spacing above the content */
}

/* Rotate icon when banner is open */
.collapsibleBanner .MuiIconButton-root {
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.collapsibleBanner.open .MuiIconButton-root {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  /* Adjustments for desktop view */
  .collapsibleBanner {
    padding: 15px; /* Slightly more padding on desktop */
  }
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr; /* One column in mobile view */
  grid-gap: 20px; /* Spacing between grid items */
}

@media screen and (min-width: 768px) { /* Adjust for desktop view */
  .mainContainer {
    grid-template-columns: 1fr 1fr; /* Two columns in desktop view */
  }

  /* Positioning the components */
  .mainContainer > :nth-child(1) { /* CollapsibleBanner */
    grid-row: 1;
    grid-column: 1 / span 2; /* Banner spans across both columns */
  }

  .mainContainer > :nth-child(2) { /* DateTimeSelector */
    grid-row: 2;
    grid-column: 1;
  }

  .mainContainer > :nth-child(3) { /* LocationListSelector */
    grid-row: 3;
    grid-column: 1;
  }

  .mainContainer > :nth-child(4) { /* WeatherForecast */
    grid-row: 3;
    grid-column: 2;
  }

  .mainContainer > :nth-child(5) { /* TrafficCam */
    grid-row: 4;
    grid-column: 1 / span 2;
  }
}
