
/* Container with border, rounded edges, and specific width */
.locationListSelectorContainer {
  max-height: 250px;
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  min-width: 350px;
}

/* Styling the scrollbar */
.locationListSelectorContainer::-webkit-scrollbar {
  width: 8px;
}

.locationListSelectorContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.locationListSelectorContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.locationListSelectorContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.locationListItem {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.locationListItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.locationListItem:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.selected {
  background-color: #e0e0e0;
}
