
/* Container with border, rounded edges, and specific width */
.listContainer {
  max-height: 250px;
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  min-width: 300px;
}

/* Reuse the existing styling for locationListItem */
.listItem {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.listItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.listItem:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.selected {
  background-color: #e0e0e0;
}

/* Add scrollbar styles if needed */
