
.recommendationContainer {
  display: flex;
  justify-content: space-between;
  height: 350px; /* Fixed height */
  margin: 20px;
}

.recommendationListWrapper {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.recommendationListWrapper:last-child {
  margin-right: 0;
}

.recommendationListWrapper > * {
  flex-grow: 1;
}
