/* WeatherForecast.css */
.weatherForecastCard {
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.weatherLoading {
  text-align: center;
  padding: 20px;
}

.weatherText {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.weatherIcon {
  margin-right: 10px;
  font-size: 2em;
}
