
.sectionWrapper {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 30px;
  padding-top: 30px; /* Adjust this value based on the title's size */
  margin-bottom: 30px;
}

.sectionTitle {
  position: absolute;
  top: -15px; /* Adjust this value to position the title correctly */
  left: 10px; /* Adjust based on padding */
  background-color: #ffffff; /* Same as the sectionWrapper background */
  padding: 0 20px;
  font-size: 1.5em;
  color: #333;
}

.sectionLabel {
  margin-bottom: 10px;
}

.sectionContent {
  /* Styles for the content area */
}
