.dateTimeSelectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.buttonGroup {
  display: flex;
  width: 100%;
  padding: 5px;
  align-items: center;

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: stretch;
  }
}
